@import url("~bootstrap/css/bootstrap.min.css");

/* Custom CSS */
.card-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.icon-small {
    font-size: 1.5rem;
}
.card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn-custom {
    background-color: #f9faf8;
    color: #292b40;
    border: 1px solid #292b40;
}
.btn-custom:hover {
    background-color: #292b40;
    color: #fff;
}
.bg-dark-blue {
    background-color: #292b40 !important;
}
.text-light {
    color: #f9faf8;
}
.btn-edit {
    background-color: #292b40;
    color: #fff;
}
.btn-edit:hover {
    background-color: #fff;
    color: #292b40;
    border: 1px solid #292b40;
}
.pagination .page-link {
    color: #ffffff; /* Cor do texto dos links */
    background-color: #292b40; /* Cor de fundo dos links */
    border: 1px solid #292b40; /* Cor da borda dos links */
    padding: 0.5rem 0.75rem; /* Tamanho dos botões */
    margin: 0 2px; /* Espaçamento entre os botões */
}

.pagination .page-link:hover {
    background-color: #1f2135; /* Cor de fundo dos links ao passar o mouse */
    border-color: #1f2135; /* Cor da borda dos links ao passar o mouse */
}

.pagination .page-item.active .page-link {
    background-color: #1f2135; /* Cor de fundo do link ativo */
    border-color: #1f2135; /* Cor da borda do link ativo */
}

.pagination .page-item.disabled .page-link {
    background-color: #cccccc; /* Cor de fundo dos links desativados */
    border-color: #cccccc; /* Cor da borda dos links desativados */
}

.body-email {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

.email-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email-heading {
    text-align: center;
    margin-bottom: 20px;
}
